<!DOCTYPE html>
<html>
<head>
  <title>Kontax</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render 'navigation' %>
  <div class='container'>
    <%= yield %>
  </div>
  <div id='modal-box' class='modal fade'></div>
</body>
</html>
